<form action="/posts/create" method="POST" id="new_post_form">
    <input type="text" placeholder="Title" name="title" required >
    <input type="text" name="place" placeholder="Place" required >
    <input type="date" name="date" required>
    <hr>
    <textarea name="content" id="text_area" cols="100" rows="30" required placeholder="Dear Diary"></textarea>
    <div id="emoji_box"><%= emoji.abc %> </div>
    
    <input type="submit" value="Add your day!" id="add-btn">
</form>
