<link rel="stylesheet" href="/css/home.css">
<div id="image-container">
    <img src="/images/notebook-laptop-camera-pink.jpg" alt="Image-NA">
</div>

<div id="diary-intro-content">
    <p>
        <span class="bold-imp">There</span> are many reasons why we <span class="bold-imp">journal.</span> From <span class="bold-imp"> journals, dream journals, gratitude journals to prayer journals,</span> we keep specific journals for different aspects of our <span class="bold-imp">life.</span> In the past, many people kept personal journals, where <span class="bold-imp">they recorded the day’s events</span> and <span class="bold-imp">their observations.</span> Without diarists like <span class="bold-imp">Anne Frank and Samuel Pepys,</span> we wouldn’t know much about the personal side of our history.
        Although people nowadays keep <span class="bold-imp">blogs or vlogs,</span> and record their lives on social media,
        <span class="bold-imp">very few of us jot in a journal and write down our experiences. So why not give it a try? </span>
    </p>
    <p>
        <span class="bold-imp"> There are many benefits of keeping a journal. 
        Here are the top 8 reasons why you should be starting a journal today:</span>
    </p>
    <p>
        <ol>
            <li>Keep your thoughts organized.</li>
            <li>Improve your writing.</li>
            <li> Set & achieve your goals.</li>
            <li>Record ideas on-the-go.</li>
            <li>Relieve stress.</li>
            <li> Allow yourself to self-reflect.</li>
            <li> Boost your memory.</li>
            <li>Inspire creativity.</li>
            <li>There are many other benefits to keep a journal. You’ll discover more when you start one!</li>
            <li><a href="#">Ready to start with us?</a></li>
        </ol>
    </p>
</div>