<link rel="stylesheet" href="/css/profile.css">
<div id="profile-container">
<aside id="previous-entires">

</aside>

<div id="new-entry-container">
    <form action="#" method="POST">
        <textarea name="new_entry" id="" cols="30" rows="10" placeholder="Dear Diary,"></textarea>
        <input type="submit" value="Add">
    </form>
</div>



</div>
