<link rel="stylesheet" href="/css/profile.css">
<div id="profile-container">

<aside id="previous-entires">
    <ol>
        <% for(post of posts) { %>
            <%- include('_recent-post-list'); -%>
        <% } %>
    </ol>
</aside>

<div id="new-entry-container">
    <% if(!gotPost){%>
        <%- include('_create-post-form'); -%>
    <% } else  {%>
        <%- include('_update-post-form'); -%>
    <% } %>
</div>



</div>
<script src="/js/journal_post.js"></script>
