<link rel="stylesheet" href="/css/sign-up.css">

<div id="sign-up-container">
    
    <h2 id="sign-up-caption">Sign-Up!</h2>

    <div id="form-container">

    
    <form action="" method="POST" id="sign-up-form">
        <input type="text" placeholder="First Name" name="firstname">
        <input type="text" placeholder="Last Name" name="lastname">
        <input type="email" placeholder="Your Email" name="email">
        <input type="password" placeholder="Your Password" name="password">
        <input type="password" placeholder="Confirm Password" name="confirm-password">
        <input type="submit" value="Sign-Up!" id="sign-up-button">
    </form>
</div>
</div>