#profile-container{
    background: linear-gradient(270deg, #736e6014, #0000ff00);

    #previous-entires{
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

    #new-entry-container{
        display: inline-block;
        width: 50%;
        margin-top:1em;
    }

    #new_post_form{

        padding: 5px;

        input[type="text"],input[type="date"]{
            padding: 5px;
            border: 2px solid antiquewhite;
            border-radius: 30px;
            box-shadow: 2px 2px 2px black;
        }
        
    }

    #textarea{
        padding: 1em;
        font-size: 1em;
        border: 2px solid antiquewhite;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px #000000;
    }

    #add-btn{
        padding: 8px;
        color: black;
        background: linear-gradient(30deg, #f7f0f0d1, #ffffff);
        position: relative;
        display: inline;
        margin-left: 53vw;
        margin-top: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        cursor: pointer;
        border-color: antiquewhite;
    }
    #diary-display-container{
        border: 2px solid ghostwhite;
        margin-top: 5px;
        font-size: 1.2em;
        text-align: center;
        cursor: progress;
        border-radius: 10px;
        box-shadow: 2px 2px 2px black;
        overflow: hidden;
        width: 85%;
    }
    #post_delete_update{
        padding: 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
            padding: 5px;
            text-decoration: none;
            color: indianred;
            i{
                padding: 5px;
                position: absolute;
            }
        }
        #delete-btn{
            position: absolute;
            bottom: 1em;
            right: 5em;
        }
        #edit-btn{       
            position: absolute;
            bottom: 1em;
            left: 0em;
        }
    }
    #emoji-para{
        font-size: xxx-large;
        position: absolute;
        left: 86vw;
        top: 77vh;
        color: #dc0505;
    }
    
    
}