#profile-container{
    background-color: chartreuse;

    #previous-entries{
        display: inline-block;
        width: 30%;
    }

    #new-entry-container{
        display: inline-block;
        width: 70%;
    }
}